
/* 
color-gray: #677179;
color-light: #B5BDD1;
color-blue: #0C8AFF;
color-white: #ffffff;

*/
#profile {
    width: 1440px;
    min-height: 600px;
    margin: 0px auto;
    margin-top: 10px;
    
}

#profile .header{
    min-height: 250px;
    background: url("images/banner1.png");
    display: flex;
    justify-content: center;
    align-items: center;

}

#profile .header__text{
    /* margin-top: 50px; */
    font-size: 50px;
    font-weight: bold;
    color:#B5BDD1 ;
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(255,0,0, 0.25);
}
#profile .header__text span{
    
    transition: 0.8s;
}
/* style for main */
#profile main{
    display: flex;
    background-color: #0b0c2a;
    

}
/* style left content */
#profile .content__left{
    width: 30%;
    padding-bottom: 40px;
    height: 100%;
}   

#profile .content__right{
    /* width: 70%; */
    width: 100%;
    height: 100%;
}

#profile .user__avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 15px solid #ffffff;
    overflow: hidden;
    margin: 0px auto;
    margin-top: -100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#profile .user__name{
    text-align: center;
    font-size: 40px;
    color: #B5BDD1;
    font-weight: bold;
    text-transform: uppercase;
}

#profile .user__position{
    text-align: center;
    color: #B5BDD1;

}
#profile .user__analysis{
    width: 330px;
    margin: 0px auto;
    margin-top: 20px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #B5BDD1;
}
#profile .user__analysis .item{
    text-align: center;
    color: #677179;
    font-weight: bold;

}

#profile .user__desc{
    margin-top: 20px;
    line-height: 30px;
    letter-spacing: 0.04rem;
    text-align: center;
    color: #B5BDD1;

}
#profile .btn__connect{
    width: 240px;
    height: 55px;
    color: #ffffff;
    background: #677179;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    margin-top: 50px;
    border-radius: 5px;
}

/* style right content */

#profile .content__right{
    /* width: 70%; */
    width: 100%;
    padding: 40px 80px;    
    
    text-align: center;
}

#profile .content__header{
    width: 1490px;
    padding: 60px; 
    
    margin-top: -60px;   
    margin-left: -100px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #070720;
    text-align: center;
}

#profile .content__menu{
    display: flex;
    gap: 30px;
    margin-left: 50px;

    
    
}
#profile .content__menu .link{
    font-size: large;
    margin: 0 10px;
}
#profile .content__menu .link:first-child a{
    color: #677179;
    font-weight: bold;
}

#profile .content__menu .link a{
    color: #B5BDD1;
    transition: 0.3s color;
}

.#profile content__menu .link:hover a{
    color: #677179;
}

#profile .content__bottom{
    margin-top: 50px;
    color: #ffffff;
}
#profile .content__bottom .table thead tr{
    color: #E53637;
}
#profile .content__bottom .table tbody tr{
    color: #ffffff;
}
#profile .btn__follow{
    width: 120px;
    height: 40px;
    background: #0C8AFF;
    color: #ffffff;
    border-radius: 5px;

}

#profile .list__photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;

}
#profile .list__photos .photo__item{
    width: 185px;
    height: 140px;
    overflow: hidden;
    margin-bottom: 35px;

}
#profile .list__photos .photo__item img{
    transition: 0.3s;
}

#profile .list__photos .photo__item:hover img{
    transform: scale(1.2);
}
